; param "root_proj_dir" comes from default values im main prog-file
; it's always a directory where main prof-file is located

[daemon]
root_dir = ${DEFAULT:root_proj_dir}
monitors_dir = ${root_dir}/var/monitors
logfile = ${root_dir}/var/log/daemon.log
pidfile = ${root_dir}/var/run/daemon.pid

[webserv]
root_dir = ${daemon:root_dir}
work_dir = ${root_dir}/webserv
port = 9988
static_dir = ${work_dir}/static
templ_dir = ${work_dir}/template_dir
logfile = ${root_dir}/var/log/webserv.log
pidfile = ${root_dir}/var/run/webserv.pid

[local]
type = rmq
enabled = 0
host = localhost
port = 15672
uri = /api/queues
login = guest
password = guest
; step specified in seconds
step = 10
season_in_steps = 240

[site.com]
type = rmq
enabled = 1
host = site.com
port = 80
uri = /rmq/api/queues
login = admin
password = password
; step specified in seconds
step = 60
season_in_steps = 1440

[Email]
mailsender = mailsender@gmail.com
mailreceip = mailrecipient_one@gmail.com, mailrecipient_two@gmail.com
mailserver = smtp.gmail.com
senderpass = M@il$enDerP_$$w0rd!
